.hidden {
  display: none;
}
h1 {
    padding: 1vh;
}
ul {
  list-style: none;
  padding-left: 0;
  width: 30vw;
}
li {
  clear: both;
}
li button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: red;
  background: none;
  float: right;
  cursor: pointer;
  font-size: 2vh;
}
.lists-wrapper {
  width: 35vw;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1vh;
}
.todos-wrapper {
  width: 55vw;
  display: inline-block;
  vertical-align: top;
  padding: 1vh;
}
